.react-autosuggest__container {
    flex: 1;
    display: flex; 
    align-self: center;
    border-radius: 20px;
    outline: none;
    transition: .3s ease;
    width: 100%;
    
    &--open {
        flex: 1;
        display:block;
        width: 100%; 
    }

    .react-autosuggest__input {
        flex: 1;
        display: flex;
        font-size: calc(1rem + 0.1vw);
        padding: 0 1%;
        background-color: var(--color-surface);
        box-shadow: var(--box-shadow);
        width: 100%;
        height: 30px;
        border-radius: 20px;
        
        &:hover {
            box-shadow: var(--box-shadow-hover);
        }
        &--open {
            flex: 1;
            display: flex;
        }

        &--focused {
            outline: none;
        }
    }

    .react-autosuggest__suggestions-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        position: fixed;
        background-color: transparent;
        background-color: var(--color-surface);
        border: 1px solid silver;
        border-radius: 5px;
        width: fit-content;
        visibility: hidden;
        
        &--open {
            position: fixed;
            width: fit-content;
            visibility: visible;
        }
        
        .react-autosuggest__suggestions-list {
            flex: 1;
            flex-direction: column;
            display: flex;
            list-style: none;
            text-align: start;
            width: fit-content;
            
            .react-autosuggest__suggestion {
                text-align: start;
                cursor: pointer;
                padding: 4%;
                white-space: nowrap;
                font-size: calc(1rem + 0.1vw);
                color: var(--color-solid);
                transition: .3s ease;
                
                &--highlighted {
                    background-color: var(--color-secondary-surface);
                }
            }
        }
    }
}