.favorite {
  display: flex;
  flex: wrap;
  justify-content: center;
  align-self: flex-start;
  border-radius: 20px;
  width: 98%;
  margin: 1%;
  transition: .3s ease;
  overflow-y: auto;
  background-color: var(--color-third-surface);
  color: var(--color-solid);
  border: 1px solid var(--color-theme);
  box-shadow: var(--box-shadow);
    
  &::-webkit-scrollbar {
      display: none;
  }

  &:hover {
    box-shadow: var(--box-shadow-hover);
  }

  &__location {
    flex: 0.7;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    white-space: nowrap;
    padding: 4%;

    .location {
      flex: 1;
      display: flex;
      align-self: center;
      flex-wrap: wrap;

      &__p {
        flex: 0.25;
        margin: 0;
        font-size: calc(1.2rem + 0.1vw);
        text-align: center;
      }

      &__title {
        flex: 0.25;
        font-size: calc(1.5rem + 0.1vw);
        font-family: "sans-serif";
        text-align: center;
      }

      &__description {
        flex: 0.25;
        margin: 0;
        font-size: calc(1.2rem + 0.1vw);
        text-align: center;
      }

      &__icon {
        flex: 0.7;
        margin: 0;
        align-self: center;
        width: min-content;
      }
    }
  }

  .fav-icon {
    flex: 0.3;
    display: flex;
    font-size: calc(2rem + 1vw);
  }
}
