.location {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  background-color: var(--color-third-surface);
  border-radius: 20px;
  height: fit-content;
  min-height: 100%;
  width: 100%;
  max-height: fit-content;
  min-height: 100%;
  transition: 0.3s ease;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--color-theme);

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: var(--box-shadow-hover);
  }

  &__current {
    flex: 0.3;
    display: flex;
    justify-content: space-around;
    margin: 1%;
    margin-bottom: 0;

    .fav-icon {
      align-self: center;
      font-size: calc(2rem + 1vw);
      color: red;
    }

    .current-weather {
      &__city {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-self: center;

        .city {
            display: flex;
            flex-wrap: wrap;

          &__p {
            margin: 0;
            font-size: calc(1.2rem + .1vw);
            text-align: center;
          }

          &__title {
            font-size: calc(1.5rem + .1vw);
            font-family: "sans-serif";
            text-align: center;
          }

          &__description {
            font-size: calc(1.2rem + .1vw);
            text-align: center;
          }

          &__temperature {
            align-self: center;

            .temperature {
              display: flex;

              &__text {
                align-self: center;
                font-size: calc(1.2rem + .1vw);
                text-align: center;
                line-height: 27px;
                margin: 0;
              }

              &__icon {
              }
            }
          }
        }
      }
    }
  }

  &__forecast {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 98%;
    margin: 1%;
    padding: 1%;
    margin-top: 0;
    border-radius: 0 0 20px 20px;

    &__headline {
      flex: 0.2;
    }

    .forecast {
      &__headline {
        flex: 0.2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        p {
          flex: 1;
          font-size: calc(1rem + 1vw);
          text-align: center;
        }
      }

      &__daily {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-self: center;
        list-style-type: none;
        min-height: fit-content;
        width: 100%;

        p {
          flex: 1;
          font-size: calc(1rem + .3vw);
          text-align: center;
        }

        &:first-child {
          margin-left: 1%;
        }

        &:last-child {
          margin-right: 1%;
        }

        .daily {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            height: auto;

          &__item {
            flex: 1;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: stretch;
            width: auto;
            height: auto;
            margin: 1%;
          }
        }
      }
    }
  }
}
