.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    
    .navigation__title {
        flex: 0.15;
        display: flex;
        align-self: center;
        width: 100%;
        
        &-icon {
            flex: 1;
            display: flex;
            transition: .3s ease;
            width: 100%;
                
            &--sun, &--moon {
                flex: 1;
                align-self: center;
                font-size: calc(1rem + 1vw);
                color: var(--color-theme);
                margin: 0;
            }
        }
    }
    
    .navigation__nav {
        flex: 0.8;
        align-self: center;
        width: 100%;
        margin: 0;
    
        &-list {
            flex: 1;
            display: flex;
            justify-content: center;
            list-style: none;
            width: 80%;
            margin: 0;
        }
    
        &-item {
            flex: 1;
            display: flex;
            align-self: center;
            height: fit-content;
            max-width: fit-content;
            width: 80%;
            padding: 0 2%
        }
    
        &-link {
            flex: 1;
            color: var(--color-solid);
            transition: .3s ease;
            border-bottom: 1px solid transparent;
            font-size: calc(1rem + 0.1vw);
        
            &--active{
                color: var(--color-theme);
            }
        
            &:hover {
                color: var(--color-theme);
                border-bottom: 1px solid var(--color-theme);
            }
        }
    }
    
    .navigation__settings {
        flex: 0.05;
        display: flex;
        align-items: center;
        align-self: center;
        text-align: center;
        font-size: calc(1rem + .5vw);
        width: 100%;
        margin: 0;
    }
}
