.favorites-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    background-color: var(--color-secondary-surface);
    min-height: fit-content;

    &__favorites-list {
        flex: 1;
        display: flex;
        padding: 1%;
        width: 100%;
    }

    &__no-favorites {
        align-self: center;
        font-size: calc(1rem + 2vw);
        color: var(--color-solid);
        text-align: center;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 600px){
    .favorites-container__favorites-list {
        flex-direction: column;
    }
}