.home-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
    width: 100%;
    background-color: var(--color-secondary-surface);
    
    &__Search{
        flex: 0.1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: stretch;
        align-self: center;
        padding: 1%;
        padding-bottom: 0;
        min-width: 50%;
        width: auto;
    }
    
    &__content{
        flex: 0.9;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: stretch;
        align-self: center;
        padding: 1%;
        width: 100%;
    }
}