.home-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: var(--color-secondary-surface);
    min-height: fit-content;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
    
    &__Search{
        flex: 0.1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: stretch;
        align-self: center;
        padding: 1%;
        padding-bottom: 0;
        min-width: 50%;
        width: auto;
    }
    
    &__content{
        flex: 0.9;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: stretch;
        align-self: center;
        padding: 1%;
        width: 100%;
    }
}